<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Panel) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_panel, scope: :static_content), new_object_url, icon: 'plus', class: 'btn-primary', id: 'admin_new_panel' %>
<% end %>

<% if @panels.any? %>
  <table class="table" id="listing_panels" data-hook>
    <colgroup>
      <col style="width: 40%">
      <col style="width: 35%">
      <col style="width: 10%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_panels_index_headers">
        <th><%= Spree::Panel.human_attribute_name(:name) %></th>
        <th><%= Spree::Panel.human_attribute_name(:identifier) %></th>
        <th class="text-center"><%= Spree::Panel.human_attribute_name(:visible) %></th>
        <th data-hook="admin_panels_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @panels.each do |panel| %>
        <tr data-hook="admin_panels_index_rows" class="<%= cycle('odd', 'even') %>" id="<%= dom_id panel %>">
          <td><%= panel.name %></td>
          <td><%= panel.identifier %></td>
          <td class="text-center"><%#= content_tag(:i, '', class: 'icon icon-ok') if panel.visible %></td>
          <td class="actions text-right" data-hook="admin_panels_index_row_actions">
            <%= link_to_edit panel, no_text: true %>
            <%= link_to_delete panel, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Panel.model_name.human) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_panel_path %>!
  </div>
<% end %>
